<!-- Movie-details  -->
<title>Movie Details</title>
<html>

<head>
    <link href="http://127.0.0.1:8000/" rel="stylesheet">
</head>

<body>
    Movie Details:<br>
    <form class="form">

        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'movie-list' %}" class="button">Back to Movie List</a>
    </form>
</body>



<!-- code below is from HW1
Roles: Customer & Admin-->

<!--Roles: Customer & Admin-->

<body>
    <h1>Lovely Runner</h1>
    <!-- 1. User views details of one movie. Show movie image.-->
    <a><img src="Lovely_Runner.png" height="450"></a>
    <br>

    <!-- 2. Show movie trailer from YouTube.-->
    <h2><a href="https://youtu.be/1qQnTfCv6Vk?si=_3C4rDDpAIzGzSQK">Movie Trailer</a></h2>

    <br><br><br><br>

    <!-- 3. Display a link to Movie-update page.
    Add a hyper link in the movie-details.html to point to the movie-update.html page-->
    <a href="movie-update.html"> Update a movie</a>
    <br>

    <!-- Movie-delete  -->
    <!-- 4. Display a link to Movie-delete page.-->
    <form method="post" action="movie-list.html">
        <input type="submit" value="Delete Movie">
    </form>

</html>
</body>

</html>



<!--Roles:
    Admin-->


<!--
1. User deletes one movie.
2. No HTML display is needed. Only for executing the deletion.
3. Upon submission, user is forwarded to Movie-list page. -->

<!--A button to delete a movie -->

<!-- Upon clicking this button, show movie-list page. 
either create an HTML form with the submit button or explore event handler attributes on the button
 HTML element to mimic the navigation.-->